.Filter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.heading {
    color: var(--tg-theme-section-header-text-color);
    font-size: 18px;
    font-weight: 600;
}

.tab {
    border-radius: 16px;
    color: var(--tg-theme-subtitle-text-color);
}

.active {
    color: var(--tg-theme-button-text-color);
    text-decoration: underline;
}
